SUPABASE_URL=https://iwpbqzyylezvziimayir.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3cGJxenl5bGV6dnppaW1heWlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzkxNjkxNCwiZXhwIjoyMDc5NDkyOTE0fQ._wntsgwlnXaKW984sYBO_0D-_MrWDMeFOpBsfIvb3zQ
